MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=edupath
PORT=3000
LTI_KEY=EDUPATH_KEY
LTI_SECRET=EDUPATH_SECRET
MOODLE_URL=http://TU_IP_MOODLE/moodle
MOODLE_CLIENT_ID=TU_CLIENT_ID
MOODLE_DEPLOYMENT_IDS=1
MOODLE_WS_TOKEN=TU_TOKEN_AQUI
FRONTEND_URL=http://localhost:5173